<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.capsuleCloset.dao.ClosetDao">
  <select id="getCloset" resultType="kr.green.capsuleCloset.vo.ClosetVo">
    select * from myCloset where id=#{id}
  </select>
  <insert id="setCloset">
  insert into
  	myCloset(title,setGoal,top,bottom,myCloset.outer,shoes,id)
  	values(#{closetVo.title},#{closetVo.setGoal},#{closetVo.top},#{closetVo.bottom},#{closetVo.outer},#{closetVo.shoes},#{closetVo.id})
  </insert>

  <insert id="registerFile">
  insert into
  	file(id,clothes,file)
  	values(#{id},#{fileVo.clothes},#{fileVo.file})
  </insert>
  
  <select id="getTop" resultType="kr.green.capsuleCloset.vo.FileVo">
  select * from capsulecloset.file where id=#{id} and clothes=#{clothes}
  </select>
  
    <select id="getBottom" resultType="kr.green.capsuleCloset.vo.FileVo">
  select * from capsulecloset.file where id=#{id} and clothes=#{clothes}
  </select>
  
    <select id="getOuter" resultType="kr.green.capsuleCloset.vo.FileVo">
  select * from capsulecloset.file where id=#{id} and clothes=#{clothes}
  </select>
  
    <select id="getShoes" resultType="kr.green.capsuleCloset.vo.FileVo">
  select * from capsulecloset.file where id=#{id} and clothes=#{clothes}
  </select>
  
  <select id="getClosetVo" resultType="kr.green.capsuleCloset.vo.ClosetVo">
  select * from capsuleCloset.myCloset
  </select>
  
  <select id="getRegisterdate" resultType="String">  
  select registerdate from capsuleCloset.myCloset where id=#{id}
  </select>
  
  <select id="getCloset2" resultType="kr.green.capsuleCloset.vo.ClosetVo">
  select * from capsuleCloset.myCloset where closetNum=#{closetNum}
  </select>
  
</mapper>
