<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.capsuleCloset.dao.ClosetDao">
  <select id="getCloset" resultType="kr.green.capsuleCloset.vo.ClosetVo">
    select * from myCloset where id=#{id}
  </select>
  <insert id="setCloset">
  insert into
  	myCloset(title,setGoal,top,bottom,myCloset.outer,shoes,id)
  	values(#{closetVo.title},#{closetVo.setGoal},#{closetVo.top},#{closetVo.bottom},#{closetVo.outer},#{closetVo.shoes},#{closetVo.id})
  </insert>

  <insert id="registerFile">
  insert into
  	file(id,clothes,file)
  	values(#{id},#{fileVo.clothes},#{fileVo.file})
  </insert>
  
  <select id="getTop" resultType="kr.green.capsuleCloset.vo.FileVo">
  select * from capsulecloset.file where id=#{id} and clothes=#{clothes} and del='N'
  </select>
  
  <select id="getBottom" resultType="kr.green.capsuleCloset.vo.FileVo">
  select * from capsulecloset.file where id=#{id} and clothes=#{clothes} and del='N'
  </select>
  
  <select id="getOuter" resultType="kr.green.capsuleCloset.vo.FileVo">
  select * from capsulecloset.file where id=#{id} and clothes=#{clothes} and del='N'
  </select>
  
  <select id="getShoes" resultType="kr.green.capsuleCloset.vo.FileVo">
  select * from capsulecloset.file where id=#{id} and clothes=#{clothes} and del='N'
  </select>
  
  <select id="getClosetVo" resultType="kr.green.capsuleCloset.vo.ClosetVo">
  select * from capsuleCloset.myCloset
  </select>
  
  <select id="getRegisterdate" resultType="String">  
  select registerdate from capsuleCloset.myCloset where id=#{id}
  </select>
  
  <select id="getCloset2" resultType="kr.green.capsuleCloset.vo.ClosetVo">
  select * from capsuleCloset.myCloset where closetNum=#{closetNum}
  </select>
  
  <insert id="setTodaysClothes">
 	insert into
  	todaysClothes(id,todaystop,todaysbottom,todaysouter,todaysshoes)
  	values(#{id},#{todaysClothesVo.todaystop},#{todaysClothesVo.todaysbottom},#{todaysClothesVo.todaysouter},#{todaysClothesVo.todaysshoes})
  </insert>
  
  <select id="getTodaysClothes" resultType="kr.green.capsuleCloset.vo.TodaysClothesVo">
  select * from capsulecloset.todaysclothes  
  </select>
  
  <select id="getFileVo" resultType="kr.green.capsuleCloset.vo.FileVo">
  select * from capsulecloset.file
  </select>
  
  <select id="getFile" resultType="kr.green.capsuleCloset.vo.FileVo">
  select * from capsulecloset.file
  </select>
  
  <delete id="setDelCloset">
  delete from myCloset where id=#{id} 
  </delete>
  
  <update id="setDelFile">
  update file
  set	del = 'Y'
  where id=#{id}
  </update>

  <select id="getToday" resultType="kr.green.capsuleCloset.vo.TodaysClothesVo">
  	select * from capsulecloset.todaysclothes where numToday=#{numToday}
  </select>
  
  <insert id="setMainPhoto">
  	insert into
  	mainphoto(mainTop,mainBottom,mainOuter,mainShoes,id)
  	values(#{todaysClothes.todaystop},#{todaysClothes.todaysbottom},#{todaysClothes.todaysouter},#{todaysClothes.todaysshoes},#{todaysClothes.id})
  </insert>
	
  <select id="getMainPhotoVo" resultType="kr.green.capsuleCloset.vo.MainPhotoVo">
  	select * from capsulecloset.mainPhoto
  </select>
  
   <select id="getFileVo2" resultType="kr.green.capsuleCloset.vo.FileVo">
  	select * from capsulecloset.file where fileTableNum=#{mainPhotoVo.mainTop} or fileTableNum=#{mainPhotoVo.mainBottom} or fileTableNum=#{mainPhotoVo.mainOuter} or fileTableNum=#{mainPhotoVo.mainShoes}
  </select>

  <select id="getFileVo3" resultType="kr.green.capsuleCloset.vo.FileVo">
  	select * from capsulecloset.file
  </select>
</mapper>
